.heading-1, .heading-2, .heading-3, .heading-4, .heading-5 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.8rem;
  color: #fff;
  line-height: 1; }

.heading-2 {
  font-size: 4.8rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483a; }

.heading-3 {
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem;
  color: #54483a; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483a; }

.mb-lg {
  margin-bottom: 3.2rem; }

.mb-md {
  margin-bottom: 2.4rem; }

.mb-sm {
  margin-bottom: 1.6rem; }

.mb-xsm {
  margin-bottom: 1.2rem; }

.mt-md {
  margin-top: 2.2rem; }

.text__primary {
  font-size: 1.6rem;
  font-weight: 300; }

.btn {
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #c69963;
  border: none;
  color: #fff;
  font-size: 1.4rem;
  cursor: pointer; }
  .btn:hover {
    background-color: #b28451; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #727171;
  font-weight: 300;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: [row-start] 90vh [row-end] repeat(5, [row2-start] min-content [row2-end]);
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 43.75em) {
    .container {
      grid-template-rows: 6rem [row-start] calc(100vh - 6rem) [row-end] repeat(5, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      grid-template-rows: 6rem [row-start] calc(100vh - 6rem) [row-end realtor-start] min-content [realtor-end] repeat(5, [row2-start] min-content [row2-end]);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

.header {
  grid-column: full-start / col-end 6;
  grid-row: row-start/row-end; }
  @media only screen and (max-width: 37.5em) {
    .header {
      grid-column: full-start / full-end; } }

.realtor {
  background-color: #101d2c;
  grid-column: col-start 7 / full-end;
  grid-row: row-start/row-end; }
  @media only screen and (max-width: 37.5em) {
    .realtor {
      grid-column: full-start/ full-end;
      grid-row: realtor-start/ realtor-end;
      padding: 6rem 0 3rem 0; } }

.features {
  grid-column: center-start/center-end;
  grid-row: row2-start 1 / row2-end 1; }

.story__pictures {
  grid-column: full-start / col-end 4;
  grid-row: row2-start 2 / row2-end 2; }
  @media (max-width: 37.5em) {
    .story__pictures {
      grid-column: full-start / full-end;
      grid-row: row2-start 3 / row2-end 3; } }

.story__content {
  grid-column: col-start 5 / full-end;
  grid-row: row2-start 2 / row2-end 2; }
  @media (max-width: 37.5em) {
    .story__content {
      grid-column: full-start / full-end;
      grid-row: row2-start 2 / row2-end 2; } }

.home {
  grid-column: center-start / center-end;
  grid-row: row2-start 3 / row2-end 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  padding: 10rem 8rem;
  gap: 4.8rem; }
  @media (max-width: 43.75em) {
    .home {
      padding: 10rem 0; } }
  @media (max-width: 37.5em) {
    .home {
      grid-row: row2-start 4 / row2-end 4; } }
  @media (max-width: 31.25em) {
    .home {
      grid-column: full-start / full-end;
      row-gap: 8rem;
      padding: 10rem 1rem; } }

.gallery {
  grid-column: full-start / full-end;
  grid-row: row2-start 4 / row2-end 4;
  background-color: #f9f7f6;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw); }
  @media (max-width: 37.5em) {
    .gallery {
      grid-row: row2-start 5 / row2-end 5; } }

.footer {
  background-color: #101d2c;
  color: #fff;
  grid-column: full-start / full-end;
  grid-row: row2-start 5 / row2-end 5; }
  @media (max-width: 37.5em) {
    .footer {
      grid-row: row2-start 6 / row2-end 6; } }

.sidebar {
  background: #c69963;
  grid-column: side-start / side-end;
  grid-row: 1 / span 9; }
  @media only screen and (max-width: 43.75em) {
    .sidebar {
      grid-column: 1 / -1;
      grid-row: 1 / 2; } }

.sidebar {
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 43.75em) {
    .sidebar {
      justify-content: flex-end; } }

.line {
  position: relative;
  margin-top: 4rem;
  height: 2px;
  width: 4rem;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s; }
  .line::before, .line::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 5px;
    background-color: #fff; }
  .line:before {
    top: -14px; }
  .line:after {
    top: 14px; }
  @media only screen and (max-width: 43.75em) {
    .line {
      margin-top: 3rem;
      margin-right: 3rem; }
      .line:before {
        top: -10px; }
      .line:after {
        top: 10px; } }

.header {
  background-image: linear-gradient(rgba(114, 113, 113, 0.8), rgba(16, 29, 44, 0.9)), url("../img/gallery-8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 4rem 5rem;
  display: grid;
  grid-template-rows: 20% min-content 2rem min-content;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
  row-gap: 3rem; }
  .header .heading-1 {
    margin: 1rem 0 2rem 0; }
  .header .btn {
    margin-bottom: 3.2rem; }
  .header__icon {
    width: 4rem;
    height: 4rem;
    fill: #c69963;
    margin-right: .5rem; }
  .header__coyName {
    font-size: 2.4rem;
    color: #b28451;
    display: inline-block; }

.feature__on-text {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  text-align: center;
  color: #f9f7f6;
  font-size: 1.6rem;
  align-items: center;
  column-gap: 1rem; }
  .feature__on-text::before, .feature__on-text::after {
    content: "";
    background-color: #c69963;
    height: 2px; }

.feature__on {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center; }
  .feature__on__logo {
    max-height: 4rem;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: .5rem 1rem; }

.realtor {
  display: grid;
  align-content: center;
  text-align: center;
  justify-content: center;
  row-gap: 2rem; }
  .realtor h2 {
    margin-bottom: 2rem; }
  @media (max-width: 37.5em) {
    .realtor__profile {
      display: grid;
      grid-template-columns: repeat(3, min-content);
      column-gap: 3.2rem;
      align-content: center; } }
  .realtor__img {
    width: 5rem;
    height: 5rem;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    object-position: center; }
  .realtor__detail {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(3, min-content);
    column-gap: 1.4rem;
    row-gap: 2rem; }
    @media (max-width: 31.25em) {
      .realtor__detail {
        grid-template-columns: max-content;
        justify-items: center; } }
  .realtor__text {
    display: grid;
    align-content: center;
    line-height: 1.2;
    justify-items: start; }

.feature__items {
  margin: 12rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  align-items: start; }
  @media (max-width: 37.5em) {
    .feature__items {
      margin: 8rem 0; } }

.feature__item {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.6rem 2.5rem; }

.feature__icon {
  width: 4rem;
  height: 4rem;
  fill: #c69963;
  grid-row: 1/span 2;
  transform: translateY(-1rem); }

.story__pictures {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.8), rgba(178, 132, 81, 0.6)), url("../img/tea-garden.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.story__img-1 {
  width: 100%;
  grid-column: 2/6;
  grid-row: 2/6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  @media (max-width: 37.5em) {
    .story__img-1 {
      grid-column: 1/6;
      grid-row: 2/6; } }

.story__img-2 {
  width: 115%;
  grid-column: 4/7;
  grid-row: 4/6;
  z-index: 2;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15); }
  @media (max-width: 37.5em) {
    .story__img-2 {
      width: 100%;
      grid-column: 4/7;
      grid-row: 3/5; } }

.story__content {
  background-color: #f9f7f6;
  padding: 3.2rem 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .story__content .btn {
    align-self: flex-start; }

.story__text {
  font-size: 1.4rem;
  margin: 2.5rem 0; }

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
  background-color: #f9f7f6; }
  .card__img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 1/2; }
  .card__icon__like {
    width: 2rem;
    height: 2rem;
    fill: #c69963;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end; }
  .card__detail {
    display: flex;
    align-items: center;
    color: #727171;
    font-weight: 400;
    margin-left: 1rem;
    font-size: 1.4rem; }
    .card__detail svg {
      width: 2rem;
      height: 2rem;
      fill: #c69963;
      margin-right: 1rem; }
  .card__heading {
    color: #fff;
    background-color: #101d2c;
    padding: 1rem 2.5rem;
    font-size: 1.6rem;
    justify-self: center;
    align-self: end;
    grid-column: 1/3;
    grid-row: 1/2;
    font-weight: 300;
    transform: translateY(25%); }
  .card .btn {
    grid-column: 1/3; }

.gallery {
  padding: 1.5rem;
  gap: 1.5rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__img--1 {
    grid-column: 1/3;
    grid-row: 1/3; }
  .gallery__img--2 {
    grid-column: 3/6;
    grid-row: 1/4; }
  .gallery__img--3 {
    grid-column: 6/7;
    grid-row: 1/3; }
  .gallery__img--4 {
    grid-column: 7/9;
    grid-row: 1/3; }
  .gallery__img--5 {
    grid-column: 1/3;
    grid-row: 3/6; }
  .gallery__img--6 {
    grid-column: 3/5;
    grid-row: 4/6; }
  .gallery__img--7 {
    grid-column: 5/6;
    grid-row: 4/5; }
  .gallery__img--8 {
    grid-column: 6/8;
    grid-row: 3/5; }
  .gallery__img--9 {
    grid-column: 8/9;
    grid-row: 3/6; }
  .gallery__img--10 {
    grid-column: 1/2;
    grid-row: 6/8; }
  .gallery__img--11 {
    grid-column: 2/4;
    grid-row: 6/8; }
  .gallery__img--12 {
    grid-column: 4/5;
    grid-row: 6/8; }
  .gallery__img--13 {
    grid-column: 5/8;
    grid-row: 5/8; }
  .gallery__img--14 {
    grid-column: 8/9;
    grid-row: 6/8; }

.footer {
  padding: 6rem; }
  .footer__nav__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    list-style: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    gap: 1.6rem; }
  .footer__link:link, .footer__link:visited {
    color: #f9f7f6;
    text-decoration: none;
    display: block;
    padding: 1rem 2rem;
    transition: all 0.2s ease-in; }
  .footer__link:hover, .footer__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.legal__term {
  text-align: center;
  margin-top: 4rem;
  color: #54483a; }
