*,
*::after,
*::before{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html{
     font-size: 62.5%;
     @media only screen and (max-width: $tab-land) {
          font-size: 56.25%;
     };

     @media only screen and (max-width: $tab-port) {
          font-size: 50%;
     }
}

body{
     font-family: $font-primary;
     color: $grey-light-2;
     font-weight: 300;
     line-height: 1.5;
}