.feature {
     &__items {
         margin: 12rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 6rem;
        align-items: start;
        @media (max-width: $phone-sm){
            margin: 8rem 0;
        }
       

     }
     &__item{
          display: grid;
          grid-template-columns: min-content 1fr;
          gap: 1.6rem 2.5rem;
    }

    &__icon{
     width: 4rem;
     height: 4rem;
     fill: $color-primary;
     grid-row: 1/span 2;
     transform: translateY(-1rem);
    }
}
