.card{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: $font-lg;
     background-color: $grey-light-1;
     
     &__img{
          width: 100%;
          grid-column: 1/3;
          grid-row: 1/2;
     }

     &__icon__like{
          width: 2rem;
          height: 2rem;
          fill: $color-primary;
          grid-column: 2/3;
          grid-row: 1/2;
          justify-self: end;
     }

     &__detail{
          display: flex;
          align-items: center;
          color: $grey-light-2;
          font-weight: 400;
          margin-left:$font-mini;
          font-size: $font-xsm;
          svg{
               width: 2rem;
               height: 2rem;
               fill: $color-primary;
               margin-right: $font-mini;
          }
     }

     &__heading{
          color: #fff;
          background-color: #101d2c;
          padding: 1rem 2.5rem;
          font-size: $font-sm;
          justify-self: center;
          align-self: end;
          grid-column: 1/3;
          grid-row:1/2;
          font-weight: 300;
          transform: translateY(25%);
     }

     .btn{
          grid-column: 1/3;
     }
}