.story {
    &__pictures {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;

        background-image:linear-gradient(rgba($color-primary, .8), rgba($color-secondary, .6)), url("../img/tea-garden.jpg");
        background-repeat: no-repeat;
        background-size: cover;

    }

    &__img-1 {
     width: 100%;
        grid-column: 2/6;
        grid-row: 2/6;
        box-shadow: 0 1rem 2rem rgba(#000, .1);
        @media (max-width: $phone-sm) {
            grid-column: 1/6;
            grid-row: 2/6;
        }

    }
    &__img-2 {
     width: 115%;
     grid-column: 4/7;
     grid-row: 4/6;
     z-index: 2;
     box-shadow: 0 1rem 2rem rgba(#000, .15);

     @media (max-width: $phone-sm) {
        width: 100%;
        grid-column: 4/7;
        grid-row: 3/5;
        
     }

    }

    &__content {
        background-color: $grey-light-1;
        padding: 3.2rem 8vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        & .btn{
          align-self: flex-start;
        }
        

     }
        &__text {
            font-size: $font-xsm;
            margin: 2.5rem 0;
        }
}
